@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable< Christoc.Modules.DNNModule2.Models.Item >>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>ALMAAAAAA</div>
</body>
</html>
