@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable< Christoc.Modules.DNNModule2.Models.Item >>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nagy lekerekített sarkú doboz</title>
    <style>
        .container {
            background-color: white;
            border-radius: 20px;
            width: 1500px;
            height: 750px;
            margin: 0 auto;
            text-align: center;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            overflow: hidden;
            position: relative;
            font-family: Arial, sans-serif;
        }

        .header-container {
            background-color: #814ab0;
            overflow: hidden;
        }

        .header {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
        }

            .header .button {
                flex-grow: 1;
                margin: 0 5px;
                max-width: calc((100% - 20px) / 3 - 10px);
                font-family: Arial, sans-serif;
                font-weight: bold;
                font-size: 25px;
                color: white;
                background-color: #814ab0;
                border-bottom: 1px solid transparent;
            }

                .header .button.active {
                    color: black;
                    background-color: white;
                    border-bottom: 1px solid white;
                }

        .page-title {
            font-family: Arial, sans-serif;
            font-weight: bold;
            font-size: 35px;
            text-align: left;
            margin-left: 10px;
            display: flex;
            align-items: center;
        }

        .page-content {
            margin-top: 20px;
            text-align: left;
            padding: 0 20px;
        }

        .button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

            .button:hover {
                background-color: #a26fd9;
            }

        .bottom-right-box {
            position: absolute;
            bottom: 10px;
            right: 10px;
            background-color: #814ab0;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            color: white;
            font-weight: bold;
            font-family: Arial, sans-serif;
            transition: background-color 0.3s, color 0.3s;
        }

            .bottom-right-box:hover {
                background-color: #a26fd9;
            }

        .bottom-left-box {
            position: absolute;
            bottom: 10px;
            left: 10px;
            background-color: white;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            color: black;
            font-weight: bold;
            font-family: Arial, sans-serif;
            border: 1px solid black;
            transition: background-color 0.3s, color 0.3s;
        }

            .bottom-left-box:hover {
                background-color: #a26fd9;
                color: white;
            }

        .balmargo {
            margin-left: 10px;
        }

        .custom-box {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            width: 96%;
            max-width: 96%;
            height: 350px;
            background-color: transparent;
            border: 2px dashed black;
            border-radius: 10px;
            text-align: center;
            line-height: 150px;
            color: black;
            font-weight: bold;
            font-size: 16px;
            z-index: 999;
            top: 230px !important;
            font-family: Arial, sans-serif;
            font-weight: bold;
            font-size: 35px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        .balmargo_alul_1 {
            margin-left: 10px;
            margin-top: 400px !important;
        }

        .balmargo input[type="checkbox"] {
            margin-right: 10px;
        }
        /* Módosítások az alábbiak: */
        .checkbox-container {
            border: 1.5px solid black;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 20px;
            width: 45%;
        }

        .darabszam-container {
            position: absolute;
            top: 140px;
            right: 200px;
            text-align: left;
        }

            .darabszam-container .darabszam-textbox {
                width: 500px;
                height: 30px;
                margin-top: 0px;
                border-radius: 5px;
                border: 1.5px solid #000;
                padding: 5px;
            }

            .darabszam-container .megjegyzes-textbox {
                width: 500px;
                height: 230px;
                margin-top: 0px;
                border-radius: 5px;
                border: 1.5px solid #000;
                padding: 5px;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="header-container">
            <div class="header">
                <button id="button1" class="button active" onclick="showPage('page1')">Modell feltöltése</button>
                <button id="button2" class="button" onclick="showPage('page2')">Konfigurálás</button>
                <button id="button3" class="button" onclick="showPage('page3')">Ajánlatkérés</button>
            </div>
        </div>
        <div id="content" class="page-content">
            <h1 class="page-title">3D MODELL FELTÖLTÉSE</h1>
            <p class="balmargo">Minimum összeg: <b>75.000 Ft + ÁFA</b></p>
            <p class="balmargo">Fáljméret <b>max. 200 MB</b>, formátumok: stl, step, obj, igs, 3ds, jpg, png, zip, rar, svg, dwg</p>
            <div class="custom-box">TALLÓZÁS</div>
            <p class="balmargo_alul_1">Túl nagy a fájl? Megkeresését elküldheti nekünk E-mailben is, a <b>corvin3d@info.hu</b> címre.</p>
            <p class="balmargo">Személyes adatait, a fájlokat és a projektinformációkat bizalmasan kezeljük.</p>
        </div>
        <div class="bottom-right-box" id="continueButton1" onclick="showPage('page2')">TOVÁBB</div>
        <div class="bottom-right-box" id="continueButton2" onclick="showPage('page3')" style="display: none;">TOVÁBB</div>
        <div class="bottom-left-box" id="backButton" onclick="goBack()" style="display: none;">VISSZA</div>
    </div>

    <script>
        function showPage(page) {
            var pageTitle = "";
            if (page === 'page1') {
                pageTitle = "3D MODELL FELTÖLTÉSE";
                document.getElementById('content').innerHTML = '<h1 class="page-title">' + pageTitle + '</h1><p class="balmargo">Minimum összeg: <b>75.000 Ft + ÁFA</b></p><p class="balmargo">Fáljméret <b>max. 200 MB</b>, formátumok: stl, step, obj, igs, 3ds, jpg, png, zip, rar, svg, dwg</p><div class="custom-box">TALLÓZÁS</div><p class="balmargo_alul_1">Túl nagy a fájl? Megkeresését elküldheti nekünk E-mailben is, a <b>corvin3d@info.hu</b> címre.</p><p class="balmargo">Személyes adatait, a fájlokat és a projektinformációkat bizalmasan kezeljük.</p>';
                document.getElementById('button1').classList.add('active');
                document.getElementById('button2').classList.remove('active');
                document.getElementById('button3').classList.remove('active');
                document.getElementById('continueButton1').style.display = 'block';
                document.getElementById('continueButton2').style.display = 'none';
                document.getElementById('backButton').style.display = 'none';
            } else if (page === 'page2') {
                pageTitle = "KONFIGURÁLÁS";
                document.getElementById('content').innerHTML = '<h1 class="page-title">' + pageTitle + '</h1><p class="balmargo">Nyomtatási technológia:</p><div class="checkbox-container"><input type="radio" id="fdm" name="technologia" value="FDM"><label for="fdm">FDM</label><br><input type="radio" id="sla" name="technologia" value="SLA"><label for="sla">SLA</label><br><input type="radio" id="sls" name="technologia" value="SLS"><label for="sls">SLS</label><br><input type="radio" id="dmp" name="technologia" value="DMP (Fém)"><label for="dmp">DMP (Fém)</label><br><input type="radio" id="cfc" name="technologia" value="CFC Kompozit"><label for="cfc">CFC Kompozit</label><br><input type="radio" id="egyeb" name="technologia" value="Egyéb technológia"><label for="egyeb">Egyéb technológia</label></div><p class="balmargo">Elvárt tulajdonságok:</p><div class="checkbox-container"><input type="checkbox" id="hoo" name="hoo" value="70 °C-nál magasabb hőállóság"><label for="hoo">70 °C-nál magasabb hőállóság</label><br><input type="checkbox" id="kemiai" name="kemiai" value="Kémiai ellenállóság"><label for="kemiai">Kémiai ellenállóság</label><br><input type="checkbox" id="szilardsag" name="szilardsag" value="Magas szilárdság"><label for="szilardsag">Magas szilárdság</label><br><input type="checkbox" id="uv" name="uv" value="UV ellenállóság"><label for="uv">UV ellenállóság</label><br><input type="checkbox" id="egyeb" name="egyeb" value="Egyéb: kérjük adja meg a Megjegyzés mezőben"><label for="egyeb">Egyéb: kérjük adja meg a Megjegyzés mezőben</label></div><p class="balmargo">Átfutási idő:</p><div class="checkbox-container"><input type="radio" id="standard_szolg" name="atfutasi" value="Standard szolgáltatás (3-7 munkanap)"><label for="standard_szolg">Standard szolgáltatás (3-7 munkanap)</label><br><input type="radio" id="expressz_szolg" name="atfutasi" value="Expressz szolgáltatás (1-3 munkanap)"><label for="expressz_szolg">Expressz szolgáltatás (1-3 munkanap)</label><br><input type="radio" id="expressz+_szolg" name="atfutasi" value="Expressz+ szolgáltatás (kevesebb, mint 24 óra)"><label for="expressz+_szolg">Expressz+ szolgáltatás (kevesebb, mint 24 óra)</label></div><div class="darabszam-container"><p >Darabszám:</p><input type="text" class="darabszam-textbox" placeholder="Írja be, hány darab termékre lenne szüksége" onkeypress="return event.charCode >= 48 && event.charCode <= 57"><br><br><p>Szín:</p><input type="text" class="darabszam-textbox" placeholder="Hexadecimális színkód (pl.: #000000)"<br><br><p>Megjegyzés:</p><input type="text" class="megjegyzes-textbox" placeholder="pl.: egyéb nyomtatási technológia, egyéb elvárt tulajdonságok"</div>'>
                document.getElementById('button1').classList.remove('active');
                document.getElementById('button2').classList.add('active');
                document.getElementById('button3').classList.remove('active');
                document.getElementById('continueButton1').style.display = 'none';
                document.getElementById('continueButton2').style.display = 'block';
                document.getElementById('backButton').style.display = 'block';
            } else if (page === 'page3') {
                pageTitle = "AJÁNLATKÉRÉS";
                document.getElementById('content').innerHTML = '<h1 class="page-title">' + pageTitle + '</h1>
                document.getElementById('button1').classList.remove('active');
                document.getElementById('button2').classList.remove('active');
                document.getElementById('button3').classList.add('active');
                document.getElementById('continueButton1').style.display = 'none';
                document.getElementById('continueButton2').style.display = 'none';
                document.getElementById('backButton').style.display = 'block';
            }
            document.querySelector('.page-title').innerText = pageTitle;
        }

        function goBack() {
            if (document.getElementById('button2').classList.contains('active')) {
                showPage('page1');
            } else if (document.getElementById('button3').classList.contains('active')) {
                showPage('page2');
            }
        }
    </script>
</body>
</html>

